<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Validate your email address
  body
    | You need to validate you email before you can use your account
    br
    a(href=`${app_url}/validate?tok=${code}`) #{app_url}/validate?tok=#{code}
